.header {
  // padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }

  .btn-close {
    background: none;
    border: none;
  }
}
